#wrapper {
  max-width: 40em;
  margin: 0 auto;
}

section {
  display: flex;
  font-family: consolas;
}
p {
  text-align: center;
}
#itr {
  width: 50%;
}
h4 {
  font-family: verdana;
  font-size: 2rem;
  text-align: center;
}
textarea {
  width: 100%;
  display: block;
}
label {
  flex: 1 0 45%;
  margin: 0.5em;
}
label small{font-size:70%}
.wrap {
  flex: 1 0 45%;
}
svg {
  border: 1px solid #d9d9d9;
  display: inline-block;
  margin: 0.5em;
}
polygon,
path {
  stroke: #6ab150;
  fill: none;
}
